%% -*- erlang -*-

[
{graph,
  [{screen_width, 640},
   {screen_height, 480},
   %% profile
   {screen_color,                  cyan},
   {selection_alpha,               100},
   {selection_color,               gray},
   {selection_border_width,        1},
   {selection_border_color,        black},
   {vertex_color,                  darkgray},
   {vertex_border_width,           0},
   {vertex_border_color,           black},
   {vertex_select_color,           darkgreen},
   {vertex_select_border_width,    2},
   {vertex_select_border_color,    black},
   {vertex_highlight_color,        darkgray},
   {vertex_highlight_border_width, 2},
   {vertex_highlight_border_color, red},
   {edge_color,                    darkgray},
   {edge_select_color,             darkgreen},
   {edge_highlight_color,          white}
  ]}
].
